@import "nullstail.scss";

body {
	height: 100%;
	font-size: 14px;
	line-height: 1;
	color: #252b42;
	font-family: Montserrat;
	font-weight: 500px;
	background-color: #ebe6e6;
}

//! СНІПІТИ -------------------------
._conteiner {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.header-block {
	text-align: center;
}
.header-block__title {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}

.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
}

//  ПОЛОТНО --------------------------------
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
// ШАПКА -----------------------------------
.header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	&__conteiner {
		display: flex;
		min-height: 104px;
		align-items: center;
	}

	&__logo {
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		color: inherit;
	}

	&__menu {
		margin: 0px 0px 0px 133px;
	}
}

@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}

@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}

@media (max-width: 479px) {
	.menu__link {
		font-size: 18px;
	}
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.header__conteiner {
		min-height: 70px;
	}
}

@media (max-width: 340px) {
	.menu__link {
		font-size: 15px;
	}
}
// MEНЮ LINK -------------------------------------
.menu {
	display: flex;
	flex-wrap: wrap;
	padding: 5px 0px;
	&__list {
	}

	&__item {
		margin: 0px 21px 0px 0px;
	}

	&__link {
		font-weight: 600;
		line-height: calc(24 / 14 * 100%);
		color: #737373;
		font-size: 18px;
	}
}

// PAGE --------------------------------------
.page {
	flex: 1 1 auto;
}
.page {
	&__main-block {
	}
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
.page__adventages {
}
.page__practice {
}
.page__whoweare {
}
.page__subscribe:not(:last-child) {
	padding: 0px 0px 10px 0px;
}
.page__getintouch {
}
.page__contact {
}
.page__footer {
}
// main-block --------------------------------------
.main-block {
	position: relative;
	&__conteiner {
	}

	&__body {
		padding: 184px 0px 191px 0px;
		position: relative;
		z-index: 2;
		max-width: 509px;
	}
	@media (max-width: 992px) {
		.main-block__body {
			padding: 120px 0px 191px 0px;
		}
	}
	@media (max-width: 479px) {
		.main-block__body {
			padding: 115px 0px 165px 0px;
		}
	}

	&__title {
		font-size: 58px;
		font-weight: 800;
		line-height: calc(80 / 58 * 100%);
	}
	@media (max-width: 479px) {
		.main-block__title {
			font-size: 42px;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #737373;
		max-width: 376px;
	}
	@media (max-width: 479px) {
		.main-block__text {
			color: #252b42;
		}
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
		margin: -10px 0;
	}

	&__button {
		margin: 10px 0;
		&_border {
			padding: 10px 36px;
			min-height: 48px;
			border: 1px solid #0d5c63;
			border-radius: 37px;
			font-weight: 700;
			font-size: 14px;
			line-height: 28px;
			color: #0d5c63;
			letter-spacing: 0.2px;
			text-align: center;
		}
	}
	.main-block__button:hover {
		text-decoration: underline;
	}
	.main-block__button:first-child {
		text-align: center;
		justify-content: center;
		background: #ff7b47;
		border-radius: 37px;
		min-height: 48px;
		padding: 10px 36px;
		font-weight: 700;
		font-size: 14px;
		line-height: 28px;
		color: #fff;
		letter-spacing: 0.2px;
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}
.main-block__body > *:not(:last-child) {
	padding: 0px 0px 35px 0px;
}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}

@media (max-width: 1430px) {
	.main-block__img img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__img {
		opacity: 0.5;
	}
}
// Services -----------------------------------

.services {
}
.services__conteiner {
}
.services__body {
}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		margin: 0px -15px;
		flex-wrap: wrap;
	}
}
.services__column {
	flex: 0 1 33.333%;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
}

@media (max-width: 992px) {
	.services__column:last-child {
		flex: 1 1 100%;
	}
}

.services__item {
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px 40px;
}
.item-services {
}
.item-services__icon {
}
.item-services__title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
	color: #252b42;
}
.item-services > *:not(:last-child) {
	margin: 10px 0px;
}
.item-services__text {
	color: #737373;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
}
.item-services_green {
	background-color: #0d5c63;
	color: #fff;
}
.item-services_green .item-services__title {
	color: #fff;
}
.item-services_green .item-services__text {
	color: #fff;
}
// ADVENTAGES ---------------------------------

.adventages {
	padding: 80px 0px;
}
@media (max-width: 992px) {
	.adventages {
		padding: 50px 0px;
	}
}
@media (max-width: 767px) {
	.adventages {
		padding: 30px 0px;
	}
}

.adventages__conteiner {
}
.adventages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
	.adventages__header {
		margin: 0px 0px 25px 0px;
	}
}
.adventages__body {
	display: flex;
	margin: 0px -15px;
	flex-wrap: wrap;
}

.adventages__column {
	padding: 0px 15px;
	flex: 0 1 25%;
}
@media (max-width: 1035px) {
	.adventages__column {
		flex: 0 1 50%;
		padding: 10px;
	}
}
@media (max-width: 560px) {
	.adventages__column {
		flex: 0 1 100%;
	}
}

.adventages__item {
	background-color: #fff;
	align-items: center;
	padding: 30px;
}
.adventages__item > *:not(:last-child) {
	padding: 0px 0px 10px 0px;
}

.adventages__icon {
	text-align: center;
}
.adventages__value {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
	text-align: center;
	color: #252b42;
}
.adventages__text {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	text-align: center;
	letter-spacing: 0.1px;
	color: #737373;
}
// PRACTICE -----------------------------------

.practice {
	display: block;
	padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__conteiner {
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}
.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__column {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {
	.practice__column {
		padding: 0px 20px;
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {
	.practice__column {
		padding: 20px;
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__linc {
	display: inline-block;
	color: inherit;
}
.item-practice__linc:hover {
	text-decoration: underline;
}
.item-practice__linc:not(:last-child) {
	margin: 0px 0px 15px 0px;
}

.item-practice__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: 0.1px;
}
.item-practice__text {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}

.item-practice__img {
	display: block;
	padding: 0px 0px 60% 0px;
}
// WHOWEARE -----------------------------------

.whoweare {
	display: block;
	padding: 80px 0px 130px 0px;
	background-color: #fff;
}
@media (max-width: 992px) {
	.whoweare {
		padding: 50px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	.whoweare {
		padding: 30px 0px 50px 0px;
	}
}
.whoweare__conteiner {
}
.whoweare__header {
	margin: 0px 0px 100px 0px;
}
@media (max-width: 992px) {
	.whoweare__header {
		margin: 0px 0px 30px 0px;
	}
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
@media (max-width: 992px) {
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
		margin: 0px 0px 50px 0px;
	}
}

.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
@media (max-width: 992px) {
	.whoweare__video:not(:last-child) {
		margin: 50px 0px 0px 0px;
	}
}
@media (max-width: 767px) {
	.whoweare__video:not(:last-child) {
		margin: 30px 0px 0px 0px;
	}
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 120px;
}
@media (max-width: 1060px) {
	.whoweare__content {
		padding: 20px 0px 0px 80px;
	}
}
@media (max-width: 992px) {
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
}
.whoweare__title {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57 / 40 * 100%);
	letter-spacing: 0.2px;
	color: #252b42;
}
@media (max-width: 992px) {
	.whoweare__title {
		font-size: 24px;
	}
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}
.whoweare__top:not(:last-child) {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 992px) {
	.whoweare__top:not(:last-child) {
		margin: 0px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	whoweare__top:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
}
.whoweare__items {
}
.whoweare__item {
	display: flex;
}
.whoweare__item:not(:last-child) {
	padding: 0px 0px 30px 0px;
}
.item-whoweare {
}
.item-whoweare__icon {
	padding: 5px 20px 0px 0px;
}
.item-whoweare__body {
}
.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	letter-spacing: 0.1px;
	color: #252b42;
	padding: 0px 0px 5px 0px;
}

.item-whoweare__text {
	font-weight: 600;
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
	white-space: nowrap;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
// CLIENTS -----------------------------------
.clients {
	display: block;
	padding: 50px 0px;
}
@media (max-width: 767px) {
	.clients {
		padding: 30px 0px;
	}
}
.clients__conteiner {
}
.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-height: 140px;
}
.clients__item img {
	min-width: 100%;
}
// SUBSCRIBE -----------------------------------
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	background-color: #252b42;
	left: 0;
}
.subscribe__conteiner {
}
.subscribe__body {
	position: relative;
	z-index: 3;
	padding: 30px 50px;
	background: #17213c;
	border-radius: 2px;
	align-items: center;
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0px 30px;
	}
}

@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
	.subscribe__title {
		max-width: 266px;
	}
}

.subscribe__title {
	flex: 0 1 70%;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
	color: #ffffff;
}
.subscribe__form {
	display: flex;
	align-items: center;
	flex: 0 1 30%;
}

.subscribe__input {
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0px 0px 5px;
	border-right: 0;
	color: #737373;
	// min-width: 266px;
	min-height: 58px;
	padding: 0px 20px;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 58px;
	padding: 0px 22px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
	background-color: #ec622c;
}

@media (max-width: 810px) {
	.subscribe__button {
		padding: 0px 15px;
	}
	.subscribe__button {
		border-radius: 5px;
	}
	.subscribe__input {
		border-radius: 5px;
	}
	.subscribe__title {
		padding: 0px 0px 20px 0px;
	}
	.subscribe__body {
		padding: 20px 25px;
		margin: 0px -15px;
	}
}

// GET IN TOUCH -----------------------------------
.getintouch {
	padding: 80px 0px 135px 0px;
}
.getintouch__conteiner {
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0px -15px;
}
@media (min-width: 992px) {
	.getintouch__items {
		display: flex;
		margin: 0px;
		align-items: center;
	}
}
@media (max-width: 992px) {
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
	.getintouch {
		padding: 50px 0px 50px 0px;
	}
}
@media (max-width: 767px) {
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}

.getintouch__item {
	flex: 0 1 33.333%;
}

.item-getintouch {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	padding: 50px 15px;
	min-height: 328px;
}
.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch_active {
	background-color: #252b42;
	padding: 80px 40px;
}
@media (max-width: 992px) {
	.item-getintouch_active {
		padding: 50px 15px;
	}
}
.item-getintouch_active .item-getintouch__emails {
	color: #fff;
}
.item-getintouch_active .item-getintouch__label {
	color: #fff;
}
.item-getintouch_active .item-getintouch__button {
	color: #fff;
	border: 1px solid #fff;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
	text-decoration: underline;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24 / 16 * 100%);
	text-align: center;
	letter-spacing: 0.1px;
	color: #252b42;
}
.item-getintouch__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	border: 1px solid #ff7b47;
	border-radius: 5px;

	font-weight: 600;
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	text-align: center;
	letter-spacing: 0.2px;
	color: #ff7b47;
	transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
	background-color: #ff7b47;
	color: #fff;
}

// contact -------------------------------------

.contact {
	background-color: #fff;
}
.contact__conteiner {
}
.contact__body {
	padding: 80px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contact__content {
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32 / 24 * 100%);
	letter-spacing: 0.1px;
	color: #252b42;
	margin: 0px 0px 10px 0px;
}
.contact__text {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}
.contact__button {
	font-weight: 700;
	font-size: 14px;
	line-height: calc(28 / 14 * 100%);
	text-align: center;
	letter-spacing: 0.2px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 40px;
	background: #ff7b47;
	border-radius: 5px;
}
@media (max-width: 992px) {
	.contact__body {
		padding: 30px 0px;
	}
}
@media (max-width: 720px) {
	.contact__content {
		flex: 0 1 100%;
	}
	.contact__body {
		flex-wrap: wrap;
	}
	.contact__button {
		margin: 15px 0px 0px 0px;
	}
	.contact__button {
		flex: 0 1 50%;
	}
}
@media (max-width: 505px) {
	.contact__title {
		font-size: 18px;
	}
}
@media (max-width: 500px) {
	.contact__body {
		padding: 20px 0px;
	}
	.contact__title {
		font-size: 18px;
	}
	.contact__button {
		flex: 0 1 100%;
	}
}
// FOOTER -------------------------------------
.footer {
}
.footer__top {
	background-color: #17213c;
	padding: 35px 0px;
}
.footer__mein {
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}

.footer__column:last-child {
	flex: 0 1 33.334%;
}
.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0px 0px 20px 0px;
}
.footer__menu {
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 50%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
/*

*/
.menu-footer {
}
.menu-footer__logist {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.menu-footer__linc {
	color: #fff;
	display: inline-block;
	line-height: 171%;
	letter-spacing: 0.2px;
}

.menu-footer__linc:hover {
	text-decoration: underline;
}
/*

*/
.footer__contants {
	color: #fff;
}
.contants-footer {
	display: flex;
	flex-direction: column;
}
.contants-footer__item {
	padding: 0px 0px 0px 34px;
	display: flex;
	align-items: center;
	min-height: 30px;
	color: #fff;
	line-height: calc(24 / 14 * 100%);
}

.contants-footer__item:hover {
	text-decoration: underline;
}
.contants-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contants-footer__item_phon {
	background: url("/img/footer/1.svg") 0px 0px no-repeat;
}
.contants-footer__item_map {
	background: url("/img/footer/2.svg") 0 0 no-repeat;
}
.contants-footer__item_email {
	background: url("/img/footer/3.svg") 0 0 no-repeat;
}
/*

*/
.footer__bottom {
	padding: 25px 0px;
}
.footer__conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 767px) {
	.footer__conteiner {
		flex-direction: column;
	}

	.footer__copy {
		margin: 0px 0px 15px 0px;
		text-align: center;
	}
}

.footer__copy {
	font-weight: 600;
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
	color: #737373;
}

.footer__social {
}
.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0px 20px 0px 0px;
}
