* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500px;
  background-color: #ebe6e6;
}

._conteiner {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header-block__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 479px) {
  .header__conteiner {
    min-height: 70px;
  }
}
@media (max-width: 340px) {
  .menu__link {
    font-size: 15px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0px;
}
.menu__item {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  font-weight: 600;
  line-height: 171.4285714286%;
  color: #737373;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0px 0px 0px;
}

.page__subscribe:not(:last-child) {
  padding: 0px 0px 10px 0px;
}

.main-block {
  position: relative;
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 509px;
}
@media (max-width: 992px) {
  .main-block .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 479px) {
  .main-block .main-block__body {
    padding: 115px 0px 165px 0px;
  }
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 137.9310344828%;
}
@media (max-width: 479px) {
  .main-block .main-block__title {
    font-size: 42px;
  }
}
.main-block__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #737373;
  max-width: 376px;
}
@media (max-width: 479px) {
  .main-block .main-block__text {
    color: #252b42;
  }
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  margin: 10px 0;
}
.main-block__button_border {
  padding: 10px 36px;
  min-height: 48px;
  border: 1px solid #0d5c63;
  border-radius: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #0d5c63;
  letter-spacing: 0.2px;
  text-align: center;
}
.main-block .main-block__button:hover {
  text-decoration: underline;
}
.main-block .main-block__button:first-child {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff7b47;
  border-radius: 37px;
  min-height: 48px;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  letter-spacing: 0.2px;
}
.main-block__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__body > *:not(:last-child) {
  padding: 0px 0px 35px 0px;
}

@media (max-width: 479px) {
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 1430px) {
  .main-block__img img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__img {
    opacity: 0.5;
  }
}
@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 992px) {
  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.services__item {
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
}

.item-services__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-services > *:not(:last-child) {
  margin: 10px 0px;
}

.item-services__text {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
}

.item-services_green {
  background-color: #0d5c63;
  color: #fff;
}

.item-services_green .item-services__title {
  color: #fff;
}

.item-services_green .item-services__text {
  color: #fff;
}

.adventages {
  padding: 80px 0px;
}

@media (max-width: 992px) {
  .adventages {
    padding: 50px 0px;
  }
}
@media (max-width: 767px) {
  .adventages {
    padding: 30px 0px;
  }
}
.adventages__header {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 767px) {
  .adventages__header {
    margin: 0px 0px 25px 0px;
  }
}
.adventages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.adventages__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1035px) {
  .adventages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 10px;
  }
}
@media (max-width: 560px) {
  .adventages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.adventages__item {
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.adventages__item > *:not(:last-child) {
  padding: 0px 0px 10px 0px;
}

.adventages__icon {
  text-align: center;
}

.adventages__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #252b42;
}

.adventages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.practice {
  display: block;
  padding: 125px 0px 80px 0px;
}

@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}
.practice__header {
  margin: 0px 0px 45px 0px;
}

@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}
.practice__body {
  margin: 0px -20px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1040px) {
  .practice__column {
    padding: 0px 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.item-practice {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-practice__linc {
  display: inline-block;
  color: inherit;
}

.item-practice__linc:hover {
  text-decoration: underline;
}

.item-practice__linc:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-practice__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__img {
  display: block;
  padding: 0px 0px 60% 0px;
}

.whoweare {
  display: block;
  padding: 80px 0px 130px 0px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 30px 0px 50px 0px;
  }
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}

@media (max-width: 992px) {
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .whoweare__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px 0px 50px 0px;
  }
}
.whoweare__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

@media (max-width: 992px) {
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0px 0px 120px;
}

@media (max-width: 1060px) {
  .whoweare__content {
    padding: 20px 0px 0px 80px;
  }
}
@media (max-width: 992px) {
  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  letter-spacing: 0.2px;
  color: #252b42;
}

@media (max-width: 992px) {
  .whoweare__title {
    font-size: 24px;
  }
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.whoweare__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}

@media (max-width: 992px) {
  .whoweare__top:not(:last-child) {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.whoweare__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoweare__item:not(:last-child) {
  padding: 0px 0px 30px 0px;
}

.item-whoweare__icon {
  padding: 5px 20px 0px 0px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #252b42;
  padding: 0px 0px 5px 0px;
}

.item-whoweare__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  color: #737373;
  white-space: nowrap;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clients {
  display: block;
  padding: 50px 0px;
}

@media (max-width: 767px) {
  .clients {
    padding: 30px 0px;
  }
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  padding: 8px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  text-align: center;
  min-height: 140px;
}

.clients__item img {
  min-width: 100%;
}

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}

.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  background-color: #252b42;
  left: 0;
}

.subscribe__body {
  position: relative;
  z-index: 3;
  padding: 30px 50px;
  background: #17213c;
  border-radius: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe__title {
    max-width: 266px;
  }
}
.subscribe__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.subscribe__input {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  border-right: 0;
  color: #737373;
  min-height: 58px;
  padding: 0px 20px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 58px;
  padding: 0px 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
  background-color: #ec622c;
}

@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__button {
    border-radius: 5px;
  }
  .subscribe__input {
    border-radius: 5px;
  }
  .subscribe__title {
    padding: 0px 0px 20px 0px;
  }
  .subscribe__body {
    padding: 20px 25px;
    margin: 0px -15px;
  }
}
.getintouch {
  padding: 80px 0px 135px 0px;
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__items {
  margin: 0px -15px;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 992px) {
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
  .getintouch {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 50px 15px;
  min-height: 328px;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-getintouch_active {
  background-color: #252b42;
  padding: 80px 40px;
}

@media (max-width: 992px) {
  .item-getintouch_active {
    padding: 50px 15px;
  }
}
.item-getintouch_active .item-getintouch__emails {
  color: #fff;
}

.item-getintouch_active .item-getintouch__label {
  color: #fff;
}

.item-getintouch_active .item-getintouch__button {
  color: #fff;
  border: 1px solid #fff;
}

.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
}

.item-getintouch__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff7b47;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}

.contact {
  background-color: #fff;
}

.contact__body {
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 0px 0px 10px 0px;
}

.contact__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.8571428571%;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  background: #ff7b47;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .contact__body {
    padding: 30px 0px;
  }
}
@media (max-width: 720px) {
  .contact__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .contact__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__button {
    margin: 15px 0px 0px 0px;
  }
  .contact__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 505px) {
  .contact__title {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .contact__body {
    padding: 20px 0px;
  }
  .contact__title {
    font-size: 18px;
  }
  .contact__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.footer__top {
  background-color: #17213c;
  padding: 35px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.footer__column {
  padding: 15px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
}

.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 992px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
/*


*/
.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.menu-footer__linc {
  color: #fff;
  display: inline-block;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.menu-footer__linc:hover {
  text-decoration: underline;
}

/*


*/
.footer__contants {
  color: #fff;
}

.contants-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contants-footer__item {
  padding: 0px 0px 0px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  color: #fff;
  line-height: 171.4285714286%;
}

.contants-footer__item:hover {
  text-decoration: underline;
}

.contants-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.contants-footer__item_phon {
  background: url("/img/footer/1.svg") 0px 0px no-repeat;
}

.contants-footer__item_map {
  background: url("/img/footer/2.svg") 0 0 no-repeat;
}

.contants-footer__item_email {
  background: url("/img/footer/3.svg") 0 0 no-repeat;
}

/*


*/
.footer__bottom {
  padding: 25px 0px;
}

.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
}
.footer__copy {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  color: #737373;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}